.td_buttons_actions{width: 116px;}
.dataTables_scroll{	min-height: 510px;	border-bottom: 2px solid #dddddd;	margin-bottom: 5px;}
div.dataTables_wrapper div.dataTables_paginate{	text-align: center;}
.btn-group, .btn-group-vertical{float: right;}
.btn-group > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle) { border-radius: 55px;}
.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) { border-radius: 5px;margin-right:5px}
.btn-group > .btn:last-child:not(:first-child), .btn-group > .dropdown-toggle:not(:first-child),.btn-group > .btn:first-child{border-radius: 5px;}
.btn-sm, .btn-group-sm > .btn{border-radius: 5px;}
.modalbtn{border-radius:55px;margin-top: 5px;}
.modelbtn-default {color: #000000;background-color: #CCCCCC;border-color: #CCCCCC;}
.pagination > li:first-child > a, .pagination > li:first-child > span {border-bottom-left-radius: 0px; border-top-left-radius: 0px;}
.pagination > li:last-child > a, .pagination > li:last-child > span {border-bottom-right-radius: 0px; border-top-right-radius: 0px;}
.modal-body{text-align: center;}
.modal-footer{text-align: center;}
thead{color:#FFFFFF}
.table-condensed > thead{color:#000000}
.dt-buttons{padding-bottom:5px;}
.table>thead>tr>th{border-bottom:0px}
input.form-control{border-radius: 5px;}
.dataTables_wrapper > div > label{font-size: 14px; color:#c2c3c3;}

.dataTables_paginate > .pagination > li > a{border:0px}
.btn-default{border-radius: 5px;}
.btn-primary, .btn-default {font-size:15px;color: #FFFFFF; background-color: #ba0c2f;  border-color: #ba0c2f;border-radius: 5px;}
.btn-secondary {font-size:15px;border-radius: 5px;}
.dataTables_scrollHead{background-color: #ba0c2f;padding-top:3px;padding-bottom:8px;}
.dataTable > thead{background-color: #ba0c2f;padding-top:3px;padding-bottom:8px;}
.bs-searchbox{font-weight:300}
.table > thead > tr > th{padding-left:40px}
.table > tbody > tr > td{padding-left:40px}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {vertical-align: middle;}


.btn-default:hover {
    color: #ffffff;
    background-color: #920824;
    border-color: #920824;
}

.dama-picker-select > div > .dropdown-menu,
.dama-picker-select > div > .dropdown-menu > ul {
    color: #000000 !important;
    background-color: #cccccc;
}

.open > div > ul > li > a[aria-selected="false"] {
    color:#000000 !important;
}
.open > div > ul > li > a[aria-selected="true"] {
    color:#000000 !important;
    background-color: #920824 !important;
}

.dama-picker-select > div > button {
    color: #000000 !important;
    background-color: transparent !important;
    border-color: #cccccc !important;
}

.dropdown-menu > .active > a[aria-selected="false"]{
    background-color: transparent;
}


.css3loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #1f7e69;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    position: fixed;
    right: -100%;
    left: -100%;
    margin: auto;
    z-index: 20;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

body {font-family: Open Sans;}
.ui-state-focus:focus {outline: 0;}
.table>thead>tr>th:first-child,
.table>tbody>tr>td:first-child {padding-left: 20px;}
a {color: #920824;}
.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td {vertical-align: middle;	text-align: center;}

.td_buttons_actions {width: 120px;}
.col-md-offset-1 { margin-left: 4.5%;}
.table>thead>tr>th:first-child,
.table>tbody>tr>td:first-child{	text-align: left !important;}
.table>thead>tr>th:nth-child(2),
.table>tbody>tr>td:nth-child(2){text-align: left !important;}